# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
venv/
.env/

# Archivos temporales
*.log
*.tmp

# IDEs
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos de pruebas
tests/*.txt
